<% if list.valid_tasks.size > 0 %>
	<ul class="tasks no-bullet">
		<% list.valid_tasks.each do |task| %>
			<li class="task">
				<%= render "tasks/show", list: list, task: task, expired: false %>
			</li>
		<% end %>
	</ul>
<% else %>
	<div class="center-text placeholder">
		<span style="font-size: 1.5rem">No tasks add one below </span><%= fa_icon 'thumbs-down 2x', style: 'vertical-align: middle' %>
	</div>
<% end %>

<% if list.expired_tasks.size > 0 %>
	<h4 class="subtitle">Expired tasks</h4>
	<ul class="tasks no-bullet">
		<% list.expired_tasks.each do |task| %>
			<li class="task">
				<%= render "tasks/show", list: list, task: task, expired: true %>
			</li>
		<% end %>
	</ul>
<% end %>