  <% if list.tasks.size > 0 %>
    <% list.ordered_tasks.each do |task| %>
    	<input class="state" style="vertical-align: sub" type="checkbox" disabled <%= 'checked' if task.state %>>
    	<span class="<%= 'crossed' if task.state %> description"><%= task.description %></span>
    	<br>
    <% end %> 
<% else %>
	<p class="center-text">No tasks added yet</p>
<% end %>