<div class="new-task">
	<%= form_for([list, task]) do |f| %>
		<div class="input-group">
			<div class="input-group-field" class="medium-6 columns">
				<%= f.select :type, Task.descendant_types, { selected: Task.default_option }, {class: 'no-margin' } %>
			</div>
			<div class="input-group-field" class="medium-6 columns">
				<%= f.text_field :description, placeholder: 'New task', autofocus: true, class: 'no-margin' %>
			</div>

			<%= f.hidden_field :priority, value: 1 %>
		</div>
	<% end %>
</div>