<div class="input-group">
	<div class="input-group-field no-margin"><%= form.date_field :start_date %></div>		
	<div class="input-group-field no-margin"><%= form.date_field :end_date %></div>		
</div>