/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require foundation
 *= require foundation_and_overrides

 */

@import "font-awesome";
@import "modal";

html, body { 
  background-color: #eee;
  min-height: 100%;
}

.inline { display: inline}

.pull-right { float: right }

.no-margin { margin: 0 }

.center-text { text-align: center }

.cornered {
  position: absolute;
  top: 15px;
  right: 15px;
}

textarea {resize: none}

.input-group-label {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.alert-box {
  width: 160px;
  min-height: 120px;
  border-top-left-radius: 100%;
  a {
    position: absolute;
    right: 20px;
    bottom: 30px;
  }
  text-align: center;
  font-weight: bold;
  background-color: #43AC6A;
  padding: 1.5%;
  position: fixed;
  bottom: 0;
  opacity: 0.7;
  right: 0px;
  transition: opacity 0.25s linear;

  &:hover { opacity: 1 }
  
  a {
    color: white;
    text-decoration: underline;
  }
}

.no-style { 
  color: inherit;
  &:hover { color: #4a4a4a }
}

.no-background { background-color: transparent }

.placeholder { margin: 10% }

.shadow-on-focus {
  transition: box-shadow 0.3s ease-in-out;
  &:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.back {
  color: #333;
  position: absolute;
  top: 30px;
  left: 30px;
}

#masonry-container {
  margin: 0 auto;
}

.truncate {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box { background-color: transparent !important}