.flash {
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	position: fixed;
	z-index: 1;
	right: 10px;
	top: 10px;
	width: 350px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s linear;

	&.error { 
		background-color: firebrick;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		visibility: visible;
		opacity: 1;
	}
}