// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
	margin-top: 2.5%;
	margin-bottom: 5%;
	background-color: white;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	header {
		position: relative;
		border-bottom: 2px solid #eee;
		overflow: hidden;
		
		.title, .created-at { display: inline}
		
		.title {
			margin-top: 5%;
			font-size: 1.5em;
			padding-bottom: 5px;
		}

		.created-at {
			float: right;
			margin-top: 5%;
		}

	}
}

.standalone-input, .standalone-input:focus { 
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) }

.updated-at {
	vertical-align: baseline;
	margin: 2.5% 0 2.5% 0;
}
