// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
}

.task {
	border: 1px solid white;
	&:hover:not(:first-child):not(:last-child){
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	&:hover:first-child:not(:last-child) {
		border-bottom: 1px solid #eee;
	}

	&:hover:last-child:not(:first-child) {
		border-top: 1px solid #eee;
	}

	.action {
		// visibility: hidden;
		// opacity: 0;
		// transition: visibility 0s, opacity 0.5s linear;
	}
}

.update-task {	
	input:focus {
		.task.action {
			// visibility: visible;
			// opacity: 1;
			// transition: visibility 0s, opacity 0.5s linear;
			// background-color: red;
		}
	}
}

.new-task {
	overflow: hidden;
	padding-top: 5%;
	border-top: 2px solid #eee;
}

.state { 
	&:checked  { background-color: red }
	vertical-align: baseline;
}

.remove { 
  color: #333;
  display: none;

  &:hover { color: firebrick }
}