// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
}

.task {
	border: 1px solid white;
	&:hover:not(:first-child):not(:last-child){
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	&:hover:first-child:not(:last-child) {
		border-bottom: 1px solid #eee;
	}

	&:hover:last-child:not(:first-child) {
		border-top: 1px solid #eee;
	}
}

.update-task {	
}

.updatable {
	
}

.progress {
	width: 85%;
	text-align: center;
	margin-top: 2.5%;
}

.new-task {
	margin-top: 5%;
	padding-top: 5%;
	overflow: hidden;
	border-top: 2px solid #eee;
}

.state { 
	&:checked  { background-color: red }
	vertical-align: baseline;
}

.crossed {
	opacity: 0.8;
	text-decoration: line-through
}

.remove { 
  color: #333;
  display: none;

  i { vertical-align: super }

  &:hover { color: firebrick }
}